<!doctype html>
<html lang='en' ng-app='app' ng-controller='controller'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<title>Google Analytics API | Ben Marshall</title>
<link rel='stylesheet' href='style.css'>
</head>
<body>
<form ng-submit='process()'>
<label for='dimensions'>Dimensions</label>
<input type='text' name='dimensions' id='dimensions' placeholder='The dimension data to be retrieved from the API. Limited to a maximum of 7 dimensions.' ng-model='form.dimensions'>
<label for='metrics'>Metrics</label>
<input type='text' name='metrics' id='metrics' placeholder='The metrics data to be retrieved from the API. Limited to a maximum of 10 metrics.' ng-model='form.metrics'>
<label for='filters'>Filters</label>
<input type='text' name='filters' id='filters' placeholder='Specifies a subset of all data matched in analytics.' ng-model='form.filters'>
<div class='row'>
	<div class='col'>
		<label for='start_date'>Start Date</label>
		<input type='date' name='start_date' id='start_date' ng-model='form.start_date'>
	</div>
	<div class='col'>
		<label for='end_date'>Dimensions</label>
		<input type='date' name='end_date' ng-model='form.end_date'>
	</div>
</div>
<input type='submit' value='Submit'>
</form>
<pre><code>{{ data }}</code></pre>
<script src='//code.jquery.com/jquery-2.1.3.min.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<script src='script.js'></script>
</body>
</html>